#Ignota lo que está en temp
data/Images

#Ignorar los datos de Thresholds
Threshold*

*.png

data/DataNetwork/InterAsNode
data/DataNetwork/StreetAsNode/ResultData
data/DataNetwork/StreetAsNode/txtes

src/Funciones/cosas antiguas
src/Funciones/ProbandoCositas

#algunos datos que no se ocupan
data/DataImages/In_Streets_Coord/Detallado/ForHour_sinFDS_meanS2_r1

src/Funciones/__pycache__

#exceden el maximo de tamaño
data/DataImages/DataMatrixImages.h5
data/DataNetwork/StreetAsNode/ComplexNet_states_10mA_500BT_10mS_streets.csv